/* Properties for other selectors */
* {
  padding: 0;
  margin: 0;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(10000px);
  }
}

/* // DOM Manipulation */

.container {
  background-color: seashell;
}

.row {
  border: 1px solid black;
}
